body{
    margin: 0;    
}
* {
    box-sizing: border-box;
}
.app-container{
    height: 100vh;
    position: relative;
}
.gameboard{
    font-size: 0;
    height: 80%;
    width: 60%;
    position: relative;
    top: 10%;
    left: 20%;
    border: 1px solid red;
}
.gameboardSquare{
    position: relative;
    display: inline-block;
    border: 1px solid blue;
}